# Ignore pycharm stuff
.idea
__pycache__

# Ignore the driving / testing file because it changes a lot
test.py
test_ref_frame.py
app.py

# Also ignore base THzProc, this will not be updated
# is only around for reference
THzProc1_12.py

# ignore b-scan slicing driver
b_scan_slicing_script.py
